# SPDX-FileCopyrightText: 2016-2023 Unisoc (Shanghai) Technologies Co., Ltd
# SPDX-License-Identifier: LicenseRef-Unisoc-General-1.0
on property:sys.boot_completed=1
    start zramwb-sh
    start swappiness-sh

#Enable zram fast idle
on property:vendor.zram.limit=yes
    write /sys/block/zram0/writeback_limit_enable 1
    write /sys/block/zram0/writeback_limit 51200

on property:vendor.zram.writeback=idle
    write /sys/block/zram0/idle fast

on property:vendor.zram.writeback=idle_fast
    exec_background /vendor/bin/idlefast.sh

service zramwb-sh /vendor/bin/zramwb.sh
    user root
    disabled
    oneshot

service swappiness-sh /vendor/bin/swappiness.sh
    user root
    disabled
    oneshot
