# SPDX-FileCopyrightText: 2019 Unisoc (Shanghai) Technologies Co. Ltd
# SPDX-License-Identifier: LicenseRef-Unisoc-General-1.0

service vendor.ril-daemon /vendor/bin/hw/urild
    class core
    user radio
    group radio cache inet misc audio log readproc wakelock sdcard_rw shell system dhcp
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

on property:ro.boot.product.hardware.sku=wifionly && property:ro.vendor.radio.hasmodem="" && property:sys.boot_completed=1
    stop vendor.ril-daemon

#STK BIP IPV6
service vendor.stk /vendor/bin/netbox.sh stk
    user root
    disabled
    oneshot