# SPDX-FileCopyrightText: 2016-2023 Unisoc (Shanghai) Technologies Co., Ltd
# SPDX-License-Identifier: LicenseRef-Unisoc-General-1.0
#extend data service
#storage: system_ext/etc/init/
service ext_data /system_ext/bin/ext_data
    class main
    user root
    group vpn
