on post-fs
    insmod ${ro.vendor.ko.mount.point}/socko/gf_spi_tee.ko

on factorytest
    insmod ${ro.vendor.ko.mount.point}/socko/gf_spi_tee.ko

on boot
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

